* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
main {
    width: 100%;
}
header{
    margin: 35px;
}
header h1 {
    text-align: center;
}
.container{
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 25px 0px;
}
.area {
    height: 250px;
    width: 300px;
    color: #2b2d42;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f5f3f4;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    color: #2b2d42;
    position: relative;
}
.area img {
    width: 30%;
    margin-bottom: 20px;
}
footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 30px;
    padding: 10px;
    background-color: #353535;
    color: #f5f3f4;
    text-align: center;
}
@media screen and (max-width: 700px){
    .area {
        height: 200px;
    }
}  
@media screen and (max-width: 350px) {
    .container {
        width: 100%;
    }
    .card {
        width: 85%;
        height: 150px;
    }
    footer {
        font-size: 0.8rem;
    }
}  