* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
section {
    width: 100%;
}
header {
    margin: 30px 0px 30px 0px;
    display: flex;
    justify-content: space-between;
}
header a img{
    width: 70px;
    height: 70px;
    margin-left: 20px;
}
header h1{
    margin-right: 20px;
    font-family: 'Arvo', serif;
    font-size: 3rem;
}
.title-page {
    margin-bottom: 25px;
    text-align: center;
}
article {
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 20px;
}
.area {
    height: 250px;
    width: 30%;
    color: #2b2d42;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fdfffc;
    border-radius: 10px;
    box-shadow: 1px 5px 10px #ced4da;
    cursor: pointer;
    text-decoration: none;
    color: #2b2d42;
    position: relative;
    transition: .4s;
}
.area:hover {
    background: #f8ffe5;
}
.area img {
    width: 30%;
    margin-bottom: 20px;
}
footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    margin-top: 30px;
    background-color: #353535;
    color: #f5f3f4;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}
@media screen and (max-width: 700px) {
    header {
        margin: 20px 0px 30px 0px;
    }
    header a img{
        width: 50px;
        height: 50px;
        margin-left: 15px;
    }
    header h1{
        margin-right: 15px;
        font-family: 'Arvo', serif;
        font-size: 2.4rem;
    }
    article {
        gap: 15px 15px;
    }
    .area {
        height: 200px;
        width: 40%;
    }
}  
@media screen and (max-width: 400px) {
    header {
        margin: 10px 0px 10px 0px;
    }
    header a img{
        width: 40px;
        height: 40px;
        margin-left: 15px;
    }
    header h1{
        margin-right: 15px;
        font-family: 'Arvo', serif;
        font-size: 1.8rem;
    }
    article {
        gap: 15px 15px;
    }
    .area {
        height: 180px;
        width: 90%;
    }
    .area img {
        width: 25%;
        margin-bottom: 20px;
    }
    footer {
        margin-top: 15px;
        font-size: .8rem;
    }
}