*{
    margin: 0;
    padding: 0;
    
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #606C38;
    height: 100vh;
}
h1{
    padding: 20px 0;
    color: #fff;
    font-family: 'ZCOOL KuaiLe', cursiva;
}
img{
    width: 90vw;
    height: 150px;
}
.group-card{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 90vw;
    height: 600px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 0 20px #fff;
    background-color: #FEFAE0;
}
.card{
    width: 300px;
    height: 200px;
    background-color: #DDA15E;
    border-radius: 5px;
    border: 1px solid #000;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    color: #fff;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.card:hover{
    transition: all 0.5s;
    background-color: #fff;
    color: #000;
}

@media(max-width: 850px){
    .container{
        height: 100%;
    }
    .group-card{
        height: 100%;
    }
    .card{
        margin: 15px 0;
        width: 65vw;
    }
}

