* {
    box-sizing: border-box;
}

.container {
    width: 100vw;
}

.container h1 {
    text-align: center;
}
main{
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: bla;
    padding: 10px 0;
}
.col-sm-6 {
    margin-top: 20px;
    box-shadow: 5px 5px 6px #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #DBE8FB;
    cursor: pointer;
    width: 250px;
    height: 250px;
}
.container .col-sm-6 img{
    width: 75px;
    height: 75px;
    margin-bottom: 10px;
}
.container .col-sm-6 a {
    text-decoration: none;
    color: #2b2d42;
}

footer {
    font-size: 0.8rem;
}
